* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.wrapper {
  max-width: 60vw;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: aliceblue;
  border-radius: 15px;
}